{% extends 'base.html' %}
{% block title %}
Delete Product
{% endblock %}
{% block content %}
<h1>Are you sure to delete Product: {{ object.title }}</h1>
    <p>{{ object.description }}</p>
    <p>Product category: {{ object.get_category_display }}</p>
    <form method="POST" action="{% url 'delete_product' object.pk%}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'watch_product' object.pk %}"><button type="button" class="btn btn-secondary">Отмена</button></a>
    </form>
{% endblock %}